[user]
	email = vfranktor@gmail.com
  name = victor
[alias]
  a = add
  b = branch
  unstage = reset HEAD --
  d = diff
  czc = cz commit
  co = checkout
  ss = status -s
  last = log -1 HEAD
  open = "!hub browse"
[credential]
	helper = store
[init]
	defaultBranch = dev
