[user]
	email = vfranktor@gmail.com
  name = victor
[core]
  # Improve visibility for viewing diffs in terminal
  pager = delta
[alias]
  a = add
  amend = commit --amend
  undo = reset --soft HEAD^
  d = diff
  co = checkout
  ss = status -s
  last = log -1 HEAD
[credential]
	helper = store
[init]
	defaultBranch = dev
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
